<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Панель администратора</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/css/admin_panel.css' %}">
</head>
<body>
    <div class="admin-container">
        <h1>Панель администратора</h1>
        {% if request.user.admin %}
        <div class="admin-button">
            <a href="{% url 'user_schedule' user_id=request.user.id %}">
                <button>Вернуться к расписанию</button>
            </a>
        </div>
        {% endif %}
        <h2>Зарегистрированные пользователи</h2>
        <ul>
            {% for user in users %}
            <li>{{ user.username }} - {{ user.email }}</li>
            {% endfor %}
        </ul>
        <a href="{% url 'all_schedules' %}">
            <button>Посмотреть все расписания</button>
        </a>
    </div>
</body>
</html>

