<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/admin.css' %}">
</head>
<body>
    <div class="admin-container">
        <h1>Панель администратора</h1>
        <form action="/add-user" method="POST">
            <label for="email">Электронная почта пользователя</label>
            <input type="email" id="email" name="email" required>
            
            <button type="submit">Добавить пользователя</button>
        </form>
        <div class="user-list">
            <h2>Список пользователей</h2>
            <ul id="userList">
                <!-- Здесь будут отображаться добавленные пользователи -->
            </ul>
        </div>
    </div>
</body>
</html>

